<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css'>
  </head>
  <body>
    <h1>Passwordless example with email and NeDB</h1>
    <ul>
      <li>
        <% if(user) { %>
            User: <%= user %> (<a href='/logout'>logout</a>)
        <% } else { %>
            Not logged in
            <a href='/login'>Login / Register</a>
        <% } %>
      </li>
      <li>
        <a href='/restricted'>Restricted page</a>
      </li>
    </ul>
  </body>
</html>